<% include header %>
    <div class="tekst">
        <p class="title">van<br><span id="vet"><%=startHalte%></span><br>naar<br><span id="vet"><%=eindHalte%></span></p>
        <ul>
            <li>
                <p id="nummer"><%=lijnNummer%></p>
                <p id="uren"><%=startTijd%> - <%=eindTijd%></p>
                <p id="naambus"><%=startHalte%> naar <%=eindHalte%></p>
                <hr id="streep" NOSHADE  size="0.5px">
            </li>
            <li>
                <p id="nummer"><%=lijnNummer2%></p>
                <p id="uren"><%=startTijd2%> - <%=eindTijd2%></p>
                <p id="naambus"><%=startHalte2%> naar <%=eindHalte2%></p>
                <hr id="streep" NOSHADE  size="0.5px">
            </li>
            <li>
                <p id="nummer"><%=lijnNummer3%></p>
                <p id="uren"><%=startTijd3%> - <%=eindTijd3%></p>
                <p id="naambus"><%=startHalte3%> naar <%=eindHalte3%></p>
                <hr id="streep" NOSHADE  size="0.5px">
            </li>

        </ul>
        <a href="index">
        <div class="bevestigen3" id="sluiten"><p>Sluiten</p></div></a>
